.vdp-plot {
    position: absolute;
}
.vdp-plot-hidden {
    position: absolute;
    display: none;
}
.vdp-plot-highlight {
    position: absolute;
    background-color: black;
    pointer-events: none;
}
.vdp-tooltip {
    position: fixed;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    padding: 0.25rem;
    border-radius: 3px;
    transform: translate(10%, -50%);
}

.vdp-tooltip > table > tr > th {
    text-align: right;
    padding-right: 5px;
}